@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: #F6F6EA;
  box-shadow: 0 0 0.2em #a3a3a3;
}

.filter-desc {
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
}

.skyline {
  margin-top: 20px;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #f3f3f3, #a3a3a3, #f3f3f3);
}

.font-filters {
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.font-filters-items {
  color: #696565;
  margin-top: 5px;
  font-size: 7px;
}

.div-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 65px;
  margin-top: 10px;
  margin-left: 15px;
  transition-duration: 500ms;
  padding-bottom: 8px;
}

.logo:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.right-side {
  display: flex;
  align-items: center;
}

.ul-menu-items {
  margin-left: 30px;
  transition-duration: 500ms;
}

.list-items {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  transition-duration: 500ms;
}

.list-items:hover {
  color: #FF77A8;
  transition-duration: 500ms;
}

.shopping-cart {
  font-size: 35px;
  color: #FF77A8;
  transition-duration: 500ms;
  margin-left: 30px;
}

.shopping-cart:hover {
  color: #000;
  transition-duration: 500ms;
}

.login-button {
  background-color: #FF77A8;
  color: #F6F6EA;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  height: 35px;
  width: 65px;
  transition-duration: 500ms;
  margin-right: 30px;
  margin-left: 30px;
  border: none;
}

.login-button:hover {
  transition-duration: 500ms;
  color: #000;
}

.div-products {
  display: flex;
}

.div-filters {
  flex: none;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 30px;
  height: 500px;
  width: 220px;
  background-color: #F6F6EA;
  box-shadow: 0 0 0.2em #a3a3a3;
}

.box-product {
  margin-left: 20px;
  margin-right: 20px;
}

.ul-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 15px;
}

.li-products {
  border-radius: 2px;
  background-color: red;
  margin-top: 30px;
  margin-left: 30px;
  height: 250px;
  width: 200px;
}

.select {
  border: solid 1px #fd7e7e;
  border-radius: 2px;
  box-shadow: 0 0 1em #ffa8a8;
  background-color: #ffe0e0;
  color: #000;
}

.pointer-pass {
  transition-duration: 600ms;
}

.pointer-pass:hover {
  cursor: pointer;
  box-shadow: 0 0 1em #fd7e7e;
  background-color: #ffe0e0;
  transition-duration: 600ms;
  color: #000;
}

.footer {
  margin-top: 100px;
}
